/*******************************************************************************
 *                                                                             *
 * ComboBox                                                                    *
 *                                                                             *
 ******************************************************************************/

.combo-box-base  {
    -fx-background-color: transparent, #bababa, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em; /* 2 */
}

.combo-box-base:hover {
    -fx-background-color: transparent, #909090, transparent, white;
    
}

/*.combo-box-base:focused {
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-radius: 6.4, 4, 5, 3;
    -fx-background-insets: -1.4, 0, 1, 2;
}*/

.combo-box-base:disabled {
    -fx-opacity: .4;
}

/* ------- OPEN BUTTON ------- */
.combo-box-base .arrow-button {
    -fx-background-color: transparent, transparent, white;
}

/* ------- ARROW* ------- */
.combo-box-base .arrow {
    -fx-padding: 0.333333em 0.333333em 0.333333em 0.333333em; /* 4 4 4 4 */
    -fx-shape: "M8.124,13.625l4.125-3.375v2.889l-4.125,3.86L4,13.139V10.25L8.124,13.625z";
}

.combo-box-popup .list-view {
    -fx-background-color: #909090, -fx-control-inner-background;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0) , 8, 0.0 , 0 , 0 );
}

.combo-box-popup .list-view .list-cell:hover{
    -fx-background-color: #dedede;
    -fx-text-fill: #1d1d1d;
}

.combo-box-popup .list-view .list-cell:filled:selected{
    -fx-background-color: #55c4fe;
}

.combo-box-popup .list-view .list-cell:filled:selected:hover {
    -fx-background-color: #6dcdff;
}

.combo-box-popup .list-view .list-cell:filled:pressed, .combo-box-popup .list-view .list-cell:filled:selected:pressed
{
    -fx-background-color: #d3d3d3;
    -fx-text-fill: #1d1d1d;
}
/*******************************************************************************
 *                                                                             *
 * Push Button                                                                 *
 *                                                                             *
 ******************************************************************************/

.button {  
    -fx-border-style: null; 
    -fx-background-radius: 0;

    -fx-background-color: #cccccc;
  
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 8pt;
    -fx-text-fill: black;
}

.tombol_pensil{
    -fx-background-image: url("images/icon/15.Pencil.png");
    -fx-background-size: 18 18;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;		
}
.tombol_print{
    -fx-background-image: url("images/icon/12.File.png");	
    -fx-background-size: 18 18;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;		

}
.tombol_tambah{
    -fx-background-image: url("images/icon/add64.png");	
    -fx-background-size: 18 18;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;		

}
.tombol_shop{
    -fx-background-image: url("images/icon/09.Handbag.png");	
    -fx-background-size: 18 18;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;		

}
.tombol_user{
    -fx-background-image: url("images/icon/30.User.png");	
    -fx-background-size: 18 18;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;		

}
.tombol_delete{
    -fx-background-image: url("images/icon/delete96.png");	
    -fx-background-size: 18 18;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;		

}

.warna {
    -fx-background-color: white;
}

.kotak {
    -fx-border-color:black;
}

.tombol_biru {
    -fx-background-color: #0000cc;
    -fx-font-size: 8pt;
    -fx-text-fill: white;
}

.tombol_biru:hover {
    -fx-background-color: #1a1aff;
}

.tombol_biru:pressed {
    -fx-background-color: #000080;
}

.tombol_merah {
    -fx-background-color: #cc0000;
    -fx-font-size: 8pt;
    -fx-text-fill: white;
}

.tombol_merah:hover {
    -fx-background-color: #ff1a1a;
}

.tombol_merah:pressed {
    -fx-background-color: #b80000;
}

.tombol_button:hover{
    -fx-background-color: #d8d8d8;
}

.tombol_button:pressed, .button:default:hover:pressed
{
  -fx-background-color: black;
  -fx-text-fill: white;
}

.button:focused
{
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-style: segments(1, 1);
    -fx-background-insets: 0 0 0 0, 0, 1, 2;   
}

.button:disabled, .button:default:disabled
{
    -fx-opacity: 0.4;
    -fx-background-color: #cccccc;
    -fx-text-fill: #212121;
}

.button:default
{
    -fx-background-color: #008287;
    -fx-text-fill: #ffffff;
}

.button:default:hover{
    -fx-background-color: #219297;
}


/*******************************************************************************
 *                                                                             *
 * ScrollBar		                                 						   *
 *                                                                             *
 ******************************************************************************/
.scroll-bar{
	-fx-background-color: white;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
	-fx-background-color: white;
	-fx-border-color:transparent;
	-fx-background-radius: 0em;	
}
.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
	-fx-background-color: white;
	-fx-background-insets:  0;
	-fx-background-radius: 0em;
}
.scroll-bar:horizontal .thumb {
    -fx-background-color: rgb(205,205,205);
	-fx-background-insets: 2 0 2 0;
	-fx-background-radius: 0em;
}
.scroll-bar:vertical .thumb {
    -fx-background-color: rgb(205,205,205);
	-fx-background-insets: 0 2 0 2;
	-fx-background-radius: 0em;
}
.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: rgb(215,215,215);	
}
.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
    -fx-background-color: rgb(96,96,96);	
}
.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;  
    -fx-background-radius: 0em;
    -fx-padding: 5 5 5 5;
}
.scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button {	
     -fx-background-color:transparent; 
     -fx-background-radius: 0em;
     -fx-padding: 5 5 5 5;    
}
.scroll-bar:horizontal .increment-arrow {	
	-fx-shape: "M4,17v-2.889l4.124-3.86l4.125,3.86V17l-4.125-3.375L4,17z";
	-fx-padding: 0.25em;
	-fx-rotate: 90;
}
.scroll-bar:vertical .increment-arrow {
	-fx-shape: "M4,17v-2.889l4.124-3.86l4.125,3.86V17l-4.125-3.375L4,17z";
	-fx-padding: 0.25em;
	-fx-rotate: 180;
}
.scroll-bar:horizontal .decrement-arrow {	
	-fx-shape: "M4,17v-2.889l4.124-3.86l4.125,3.86V17l-4.125-3.375L4,17z";
	-fx-padding: 0.25em;
	-fx-rotate: -90;
}
.scroll-bar:vertical .decrement-arrow {
	-fx-shape: "M4,17v-2.889l4.124-3.86l4.125,3.86V17l-4.125-3.375L4,17z";
	-fx-padding: 0.25em;
}
.scroll-bar:vertical:focused,
.scroll-bar:horizontal:focused {
    -fx-background-color: -fx-box-border,-fx-box-border,white;    
}
/*******************************************************************************
 *                                                                             *
 * List View                                                                   *
 *                                                                             *
 ******************************************************************************/
.list-cell:empty {
    -fx-background-color: white;
}
.list-cell {
 	-fx-padding: 0.8em 0em 0.8em 0.3em;
    -fx-text-fill: #212121;
    -fx-font: 12px "Segoe UI";    
}
.list-cell:odd {
	-fx-background-color: white;
}
.list-view:focused {
	-fx-background-color: -fx-box-border,-fx-box-border,white;
}
.list-view:focused .list-cell:filled:selected,
.list-view:focused .list-cell:filled:selected:hover,
.list-view:focused .list-cell:filled:focused:selected,
.list-view:focused .list-cell:odd:filled:selected:focused:hover {
    -fx-background-color: -fx-box-border, rgb(205,205,205); 
}
.list-view:focused .list-cell:focused {
    -fx-background-color: -fx-box-border, white;
}
.list-view .list-cell:hover:empty,
.list-view .list-cell:odd:hover:empty {
    -fx-background-color: white;
}
.list-view .list-cell:hover,
.list-view .list-cell:odd:hover, 
.list-view:focused .list-cell:odd:focused:hover,
.list-view:focused .list-cell:focused:hover {
	-fx-background-color: -fx-box-border,rgb(231,231,231);
}
.list-view .list-cell:odd:focused:hover {
	-fx-background-color: -fx-box-border,rgb(205,205,205);
}
.list-view .list-cell:selected {
	-fx-background-color: rgb(205,205,205);
}

/*******************************************************************************
 *                                                                             *
 * TreeView and TreeCell                                                       *
 *                                                                             *
 ******************************************************************************/
.tree-cell {   
   -fx-padding: 0.8em 0em 0.8em 0.3em;
   -fx-text-fill: #212121;
   -fx-font: 12px "Segoe UI";
}
.tree-view:focused {
   -fx-background-color: -fx-box-border,-fx-box-border,white;
}
.tree-view .tree-cell:empty:hover {
	-fx-background-color: white;
}
.tree-view .tree-cell:hover {
	-fx-background-color: -fx-box-border,rgb(231,231,231);
}
.tree-view .tree-cell:filled:selected:hover {
	-fx-background-color: -fx-box-border, rgb(205,205,205);
}
.tree-view:focused .tree-cell:focused {
    -fx-background-color: -fx-box-border, white;   
}
.tree-view:focused .tree-cell:focused:hover {
    -fx-background-color: -fx-box-border,rgb(231,231,231);   
}
.tree-view:focused .tree-cell:filled:focused:selected,
.tree-view:focused .tree-cell:filled:focused:selected:hover {
    -fx-background-color: -fx-box-border, rgb(205,205,205); 
}
.tree-cell:filled:selected:focused, .tree-cell:filled:selected {
    -fx-background-color: -fx-box-border,rgb(205,205,205);   
}
.tree-cell .tree-disclosure-node .arrow {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-padding: 0.27em;
    -fx-shape: "M4,17v-2.889l4.124-3.86l4.125,3.86V17l-4.125-3.375L4,17z";
    -fx-rotate: 90;
}
.tree-cell:expanded .tree-disclosure-node .arrow {
    -fx-rotate: 180;
}
.tree-cell:filled:hover .tree-disclosure-node .arrow {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
}
.tree-cell .tree-disclosure-node {
    -fx-padding: 4;    
}
/*******************************************************************************
 *                                                                             *
 * TableView                                                                   *
 *                                                                             *
 ******************************************************************************/
.table-cell {	  
    -fx-padding: 0.8em 0em 0.5em 0.3em;
    -fx-border-color: transparent -fx-box-border transparent transparent;  
    -fx-font: 12px "Segoe UI";    
    -fx-text-fill: #212121;
}
.table-view {
    -fx-table-header-border-color: #959595;
    -fx-table-cell-border-color: -fx-box-border;
}
.table-view:focused {
    -fx-background-color: -fx-box-border,-fx-box-border, white;
}
.table-row-cell {    
    -fx-background-color: white;
}
.table-row-cell:odd {
    -fx-background-color: white;
    -fx-background-insets: 0, 0 0 1 0;
}
.table-view:focused .table-row-cell:focused,.table-view:focused .table-row-cell:focused:odd {
    -fx-background-color: -fx-box-border, white;
    -fx-background-insets: 0, 1, 2;
}
.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-box-border, rgb(205,205,205);
}
.table-view:focused .table-row-cell:filled:selected, .table-view:row-selection .table-row-cell:filled:hover:selected {    
    -fx-background-color: rgb(205,205,205);
    -fx-background-insets: 0,1 1 1 1 0;
}
.table-view:focused .table-row-cell:filled:focused:selected:hover {    
    -fx-background-color: -fx-box-border, rgb(205,205,205);
    -fx-background-insets: 0,1 1 1 1 0;
}
.table-row-cell:filled:selected:focused, .table-row-cell:filled:selected {
    -fx-background-color: rgb(205,205,205);
}
.table-view:row-selection .table-row-cell:filled:hover { 
    -fx-background-color: rgb(231,231,231);
}
.table-view:row-selection .table-row-cell:filled:focused:hover { 
    -fx-background-color: rgb(205,205,205);
}
.table-view:focused .table-row-cell:filled:focused:hover {
	-fx-background-color: -fx-box-border,rgb(231,231,231);
}
.table-view .column-header-background {
    -fx-background-color: #cc0000;
}

/* table header label color */
.table-view .column-header .label{
	 -fx-text-fill: white;
}


.table-view .column-header, .table-view .filler {
	-fx-background-color: #cc0000;	
    -fx-size: 35;
    -fx-border-color: -fx-box-border;
    -fx-border-insets: -1 0 0 -1;
    -fx-padding: 0 5 0 0;
}
.table-view .show-hide-columns-button {
    -fx-background-color: white;
    -fx-border-color: -fx-box-border;
    -fx-border-insets: -1 -1 0 0;
}
.table-view .column-drag-header {    
    -fx-background-color: rgb(45,137,239);
    -fx-opacity: 0.6;
}
.table-view .column-resize-line {  
    -fx-background-color: rgb(45,137,239);
}
.table-view .column-overlay {
    -fx-background-color: darkgray;
    -fx-opacity: 0.2;
}
.table-view .arrow {
    -fx-padding: 0.2em;
    -fx-shape: "M4,17v-2.889l4.124-3.86l4.125,3.86V17l-4.125-3.375L4,17z";
}
/*******************************************************************************
 *                                                                             *
 * ProgressBar                                                                 *
 *                                                                             *
 ******************************************************************************/
.progress-bar .bar {
    -fx-background-color: rgb(45,137,239);
    -fx-background-insets: 3;
    -fx-padding: 1em;
}
.progress-bar:indeterminate .bar {  
	-fx-background-color: rgb(45,137,239);
    -fx-border-style:none;
}
.progress-bar .track {
    -fx-background-color: -fx-box-border, rgb(231,231,231); 
}
/*******************************************************************************
 *                                                                             *
 * ProgressIndicator                                                           *
 *                                                                             *
 ******************************************************************************/
.progress-indicator {    
    -fx-progress-color: rgb(45,137,239);    
}
.progress-indicator .indicator {
    -fx-background-color:rgb(231,231,231);
    -fx-border-color: -fx-box-border;  
}
.progress-indicator .progress {
    -fx-background-color: transparent;       
     -fx-padding: 2em; 
}
.progress-indicator:indeterminate .spinner {	
    -fx-padding: 1.5em;
}
.progress-indicator .percentage {
	-fx-font: 11px "Segoe UI";    
    -fx-text-fill: #212121;    
}
/*******************************************************************************
 *                                                                             *
 * TextField                                                                   *
 *                                                                             *
 ******************************************************************************/
.text-field {
	-fx-font: 12px "Segoe UI";
    -fx-text-fill: #212121;
    -fx-background-radius: 0;
    -fx-highlight-fill: rgb(45,137,239);
	-fx-background-color: -fx-box-border, white;    
    -fx-border-color: transparent;
    -fx-border-insets: 6pt;
}
.text-field:focused {
	-fx-background-color: -fx-box-border,-fx-box-border, white;
	-fx-background-radius: 0;
    -fx-border-color: transparent;
    -fx-border-insets: 6pt;
}
/*******************************************************************************
 *                                                                             *
 * PasswordField                                                               *
 *                                                                             *
 ******************************************************************************/
.password-field {    
    -fx-font: 12px "Segoe UI";
    -fx-text-fill: #212121;
}
/*******************************************************************************
 *                                                                             *
 * TextArea                                                                    *
 *                                                                             *
 ******************************************************************************/
.text-area {
	-fx-font: 12px "Segoe UI";
	-fx-text-fill: #212121;
    -fx-background-color: -fx-box-border, white;    
    -fx-highlight-fill: rgb(45,137,239);
    -fx-background-radius: 0;        
}
.text-area .scroll-pane .scroll-bar .track,
.text-area .scroll-pane .scroll-bar .scroll-bar,
.text-area .scroll-pane .scroll-bar .track-background {
    -fx-background-color: transparent;
}
.text-area:focused {
    -fx-background-color: -fx-box-border,-fx-box-border, white;   
    -fx-background-radius: 0;    
}
